# Run user setup first
# Ex: `op` may not be on the system till nix runs
source_env_if_exists .private.envrc

if has nix; then
	export NIXPKGS_ALLOW_UNFREE=1
	use nix --impure
fi

if has op; then
	# Import secrets
	direnv_load op run --env-file=.1p.env -- direnv dump
fi

